{{ $src := .Get "src" }}
{{ $lang := .Page.Lang }}
{{ $baseURL := .Page.Site.BaseURL }}
{{ $basePath := urls.Parse $baseURL }}
{{ $langSrc := replaceRE "^/images/screenshots/" (printf "/images/screenshots/%s/" $lang) $src }}
{{ $imgSrc := printf "%s%s" $basePath.Path (strings.TrimPrefix "/" $langSrc) }}
<figure>
    <img src="{{ $imgSrc }}"
         {{- with .Get "alt" }} alt="{{ . }}"{{ end -}}
         loading="lazy" />
    {{- with .Get "caption" }}
    <figcaption><p>{{ . | markdownify }}</p></figcaption>
    {{- end }}
</figure>
